@import "tailwindcss";

/* 强制使用 RGB 颜色格式，避免 oklch 导致的 html2canvas 问题 */
@theme {
  --color-gray-50: rgb(249 250 251);
  --color-gray-100: rgb(243 244 246);
  --color-gray-200: rgb(229 231 235);
  --color-gray-300: rgb(209 213 219);
  --color-gray-600: rgb(75 85 99);
  --color-gray-700: rgb(55 65 81);
  --color-gray-800: rgb(31 41 55);
  --color-gray-900: rgb(17 24 39);
  --color-white: rgb(255 255 255);
  --color-black: rgb(0 0 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
